:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --first-font-family: "raleway", sans-serif;
    --second-font-family: "opensans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1352px;
    display: flex;
}

.nav {
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px #00000029;
    position: absolute;
}

.nav .container {
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: var(--color-primary);
    font-family: var(--first-font-family);
    font-size: 32px;
    font-weight: 300;
    margin-left: 136px;
    margin-top: 16px;
    margin-bottom: 17px;
}

.nav__nav {
    color: #A5A5A5;
    text-transform: uppercase;
    font-size: 11px;
    font-family: var(--second-font-family);
    font-weight: bold;
}

.nav__menu {
    display: flex;
    column-gap: 95px;
    margin-right: 136px;

}
.nav__menu li {
    cursor: pointer;
}
.nav__menu li:hover {
    color: #000000;
    text-decoration: underline 4px solid #08A6E4;
    text-underline-offset: 25px;
}

.opening__content h1 {
    font-family: var(--first-font-family);
    font-weight: 400;
    font-size: 49px;
    color: #000000;
    margin-top: 120px;
    margin-bottom: 20px;
    text-align: center;
}

.opening__content p {
    font-family: var(--second-font-family);
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    text-align: center;
}

.opening__content button {
    border-radius: 40px;
    background-color: #08A6E4;
    padding-right: 157px;
    padding-left: 157px;
    padding-top: 22px;
    padding-bottom: 23px;
    box-shadow: 5px 10px 14px #07ACE629;
    border-style: none;
    color: #FFFFFF;
    font-size: 16px;
    font-family: var(--second-font-family);
    margin-top: 38px;
    margin-left: 34%;
}

.opening__content img {
    background-size: contain;
    background-position: bottom;
    width: 100%;
}

.statistics .container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 531px;
}

.statistics__content {
    margin-bottom: 100px;
    font-family: var(--first-font-family);
    font-size: 36px;
    color: #000000;
    margin-bottom: 100px;

}

.statistics__columns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 186px;
}

.statistic__picture {
    position: relative;
}

.statistic__picture img {
    position: absolute;
    z-index: 9;
    top: 9px;
    left: 10px;
}

.statistic__picture div {
    position: absolute;
    z-index: 1;
    right: 70%;
    border-radius: 50%;
    width: 62px;
    height: 62px;
    margin: 0 auto;
}

.statistic__picture--red {
    background-color: #FB3B64;
}

.statistic__picture--blue {
    background-color: #08A6E4;
}

.statistic__picture--green {
    background-color: #55DFB4;
}

.statistic__info h3 {
    color: #000000;
    font-family: var(--first-font-family);
    font-size: 20px;
    font-weight: 700;
    position: relative;
    top: 80px;
    text-align: center;
}

.statistic__info p {
    color: #A5A5A5;
    font-family: var(--first-font-family);
    font-size: 17px;
    font-weight: 400;
    margin-top: 19px;
    position: relative;
    top: 80px;
    text-align: center;
}

.benefits .container {
    width: 100vw;
    background-color: #F7F7F7;
}

.benefit__box {
    width: 1124px;
    height: 370px;
    /*margin-top: 106px;*/
    background-color: #FFFFFF;
}

.benefits__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 106px;
}