:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --first-font-family: "raleway", sans-serif;
    --second-font-family: "opensans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--color-primary-shadow);
}

a {
    text-decoration: none;
}
.container {
    width: 1352px;
    margin: 0 auto;
}

.nav {
    box-shadow: 0 3px 6px #00000029;
    height: 70px;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav__logo {
    color: var(--color-primary);
    font-family: var(--first-font-family);
    font-size: 32px;
    font-weight: 300;
    margin-left: 136px;
}

.nav__menu {
    display: flex;
    margin-right: 136px;
}

.nav__link {
    color: #A5A5A5;
    text-transform: uppercase;
    font-size: 11px;
    font-family: var(--second-font-family);
    font-weight: bold;
    letter-spacing: 3.28px;
    border-bottom: 4px solid transparent;
    padding: 28px 18px 22px;
    /*padding-top: 28px;*/
    /*padding-right: 18px;*/
    /*padding-bottom: 22px;*/
    /*nie wiem, skad padding right i bottom*/
}

.nav__link:hover {
    color: #000000;
    border-bottom: 4px solid #08A6E4;
}

.nav__element {
    padding: 0 26px;
}

.nav__element:last-child {
    padding-right: 0;
}

/*nie wiem skad padding w nav__element i :last-child*/

.opening {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opening__content {
    margin-top: 130px;
    text-align: center;
}

.opening__header {
    font-family: var(--first-font-family);
    font-weight: 400;
    font-size: 49px;
    color: #000000;
    margin-bottom: 20px;
}

.opening__heading {
    font-family: var(--second-font-family);
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin-bottom: 38px;
}

.opening__image {
    width: 100%;
    height: auto;
}

.opening__content a {
    border-radius: 40px;
    background-color: #08A6E4;
    padding-right: 155px;
    padding-left: 155px;
    padding-top: 22px;
    padding-bottom: 23px;
    box-shadow: 5px 10px 14px #07ACE629;
    border-style: none;
    color: #FFFFFF;
    font-size: 16px;
    font-family: var(--second-font-family);
    font-weight: bold;
    display: inline-block;
}

.statistics {
    margin-top: 100px;
}

.statistics__container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 100px auto 120px;
}

h2 {
    color: #000000;
    font-family: var(--first-font-family);
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}
.statistics__column {
    max-width: 160px;
    text-align: center;
    font-family: var(--first-font-family);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.statistic__picture {
    border-radius: 50%;
    width: 62px;
    height: 62px;
    position: relative;
}

.statistic__img {
    position: absolute;
}

.statistics__column:nth-child(1) .statistic__picture {
    background-color: #FB3B64;
}

.statistics__column:nth-child(1) .statistic__img {
    top: 0;
    left: 45%;
}

.statistics__column:nth-child(2) .statistic__picture {
    background-color: #08A6E4;
}

.statistics__column:nth-child(2) .statistic__img {
    top: 14px;
    left: 47%;
}

.statistics__column:nth-child(3) .statistic__picture {
    background-color: #55DFB4;
}

.statistics__column:nth-child(3) .statistic__img {
    top: 6px;
    left: 50%;
}

.statistic__number {
    color: #000000;
    font-family: var(--first-font-family);
    font-size: 20px;
    font-weight: 700;
    margin-top: 14px;
}

.statistic__description {
    color: #A5A5A5;
    font-family: var(--first-font-family);
    font-size: 17px;
    font-weight: 400;
    margin-top: 19px;
}

.benefits__container {
    width: 100%;
    height: auto;
    background-color: #F7F7F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.benefit__box {
    height: 370px;
    width: 1124px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.benefit__box--notebook {
    margin-top: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.benefit__box--notebook .benefit__text {
    margin-top: 91px;
    margin-left: 35px;
    margin-bottom: 91px;
}

.benefit__box--notebook .benefit__img {
    position: absolute;
    display: flex;
}

.benefit__box--notebook .benefit__img--redish {
    border-radius: 41px;
    height: 180px;
    width: 180px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    background-color: #FB3B64;
    position: relative;
    z-index: 1;
    left: 800px;
    bottom: 45px;
}


.benefit__box--notebook .benefit__img:nth-child(2) img {
    width: 386px;
    height: 219px;
    position: relative;
    z-index: 2;
    left: 400px;
}

.benefit__text {
    width: 416px;
    height: 188px;
    margin-bottom: 91px;
    margin-left: 35px;
    margin-top: 91px;
    border-bottom: 4px solid;
}

.benefit__box--notebook .benefit__text {
    border-bottom-color: #FB3B64;
}

.benefit__box--phone .benefit__text {
    border-bottom-color: #08A6E4;
}

.benefit__box--one .benefit__text {
    border-bottom-color: #55DFB4;
}

.benefit__title {
    font-family: var(--first-font-family);
    font-size: 36px;
    color: #000000;
    font-weight: 400;
    text-align: left;
    margin-bottom: 30px;
}

.benefit__description {
    font-family: var(--second-font-family);
    font-size: 16px;
    font-weight: 400;
}

.benefit__box--phone {
    margin-top:37px;
    margin-bottom: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.benefit__box--phone .benefit__text {
    margin-top: 69px;
    margin-right: 20px;
    margin-bottom: 71px;
}

.benefit__box--phone .benefit__img {
    border-radius: 50%;
    height: 320px;
    width: 320px;
    background-color: #07ACE6;
    margin-top: 12px;
    margin-left: 70px;
    margin-bottom: 38px;

}

.benefit__box--phone .benefit__img:nth-child(2) img {
    width: 426px;
    height: 328px;
}

.benefit__boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.benefit__box--one {
    width: 623px;
    margin-right: 61px;
    margin-bottom: 105px;
}

.benefit__box--image {
    width: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #55DFB4;
    margin-bottom: 105px;

}

.benefit__box--image img {
    width: 295px;
    height: 207px;
}

.pricing__container {
    height: 616px;
    width: 100%;
}

.pricing__container h2 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-family: var(--first-font-family);
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 50px;
}

.pricing__boxes {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    column-gap: 59px;
    height: 300px;
}

.pricing__box--basic {
    margin-top: 113px;
    text-align: center;
    width: 332px;
    height: 411px;
    border: 1px solid #FB3B64;
    border-radius: 14px;
}

.pricing__box--professional {
    margin-top: 113px;
    text-align: center;
    width: 352px;
    height: 441px;
    border: 1px solid #07ACE6;
    border-radius: 14px;
    box-shadow: 5px 10px 27px #07ACE629;
}

.pricing__box--premium {
    margin-top: 113px;
    text-align: center;
    width: 332px;
    height: 411px;
    border: 1px solid #55DFB4;
    border-radius: 14px;
}

.pricing__box--basic .pricing__type {
    font-size: 20px;
    font-family: var(--first-font-family);
    font-weight: bold;
    color: #13253B;
    margin-top: 34px;
    margin-bottom: 14px;
    text-align: center;
}

.pricing__box--basic .pricing__price {
    font-family: var(--second-font-family);
    font-weight: 300;
    font-size: 46px;
    color: #FB3B64;
    margin-bottom: 69px;
}

.pricing__box--premium .pricing__type {
    font-size: 20px;
    font-family: var(--first-font-family);
    font-weight: bold;
    color: #13253B;
    margin-top: 34px;
    margin-bottom: 14px;
}

.pricing__box--premium .pricing__price {
    font-family: var(--second-font-family);
    font-weight: 300;
    font-size: 46px;
    color: #55DFB4;
    margin-bottom: 5px;
}

.pricing__box--professional .pricing__type {
    font-size: 21px;
    font-family: var(--first-font-family);
    font-weight: bold;
    color: #13253B;
    margin-top: 34px;
    margin-bottom: 14px;
}

.pricing__box--professional .pricing__price {
    font-family: var(--second-font-family);
    font-weight: 300;
    font-size: 46px;
    color: #07ACE6;
    margin-bottom: 5px;
}

.pricing__limited {
    font-size: 14px;
    font-family: var(--first-font-family);
    font-weight: bold;
    margin-bottom: 61px;
}

.pricing__box a {
    border-radius: 23px;
    padding-bottom: 16px;
    padding-top: 16px;
    padding-right: 57px;
    padding-left: 57px;
    width: 150px;
    color: #FFFFFF;
    font-family: var(--second-font-family);
    font-size: 13px;
    font-weight: bold;
}

.pricing__box--basic a {
    background-color: #EB476E;
}

.pricing__box--professional a {
    background-color: #07ACE6;
    box-shadow: 5px 10px 14px #07ACE629;
}

.pricing__box--premium a {
    background-color: #55DFB4;
}

.pricing__box--basic .pricing__lists {
    margin-bottom: 55px;
}

.pricing__box--professional .pricing__lists {
    margin-bottom: 71px;
}

.pricing__box--premium .pricing__lists {
    margin-bottom: 45px;
}

.pricing__list {
    margin-top: 20px;
    text-align: center;
}

.pricing__list::before {
    content: "";
    /*background-image: url("Zasoby_do_projektu/assets/Ckechmark-1.svg"); NIE DZIALA, CHOC WYDAJE SIE, ZE ADRES GRAFIKI PRAWIDLOWO PODANY, A POZOSTALE PARAMETRY WYSWIETLAJA SIE PRAWIDLOWO, NP. GDY DODAM BACKGROUND-COLOR*/
    background-color: #FB3B64;
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
}

.pricing__list--not::before {
    /*background-image: url("Zasoby_do_projektu/assets/Close.svg");*/
    background-color: black;
}

.contact__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact__column {
    text-align: left;
}

.contact__title {
    font-family: var(--first-font-family);
    font-size: 49px;
    font-weight: normal;
    color: #000000;
    margin-bottom: 22px;
}

.contact__text {
    font-family: var(--second-font-family);
    font-size: 16px;
    font-weight: normal;
    color: #000000;
    margin-bottom: 42px;
}

.contact__details a {
    font-family: var(--second-font-family);
    color: #A5A5A5;
    font-size: 16px;
    font-weight: 500;
    margin-right: 20px;
}

.contact__details img {
    margin-right: 10px;
    height: 27px;
    width: 27px;
}

.form__field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form__input name {
    text-align: left;
}

.form__input email {
    text-align: left;
}

.consent__text {
    text-align: justify;
    height: 108px;
    width: 405px;
}

.form__consent {
    margin-top: 30px;
}

.form__field {
    color:#08A6E4;
    font-family: var(--second-font-family);
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.form__field input {
    border:none;
    border-bottom: 1px solid gray;
    margin-top: 15px;
    margin-bottom: 15px;

}
.form__checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
}


.form__checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.form__checkbox .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #FFFFFF;
    border: 1px solid #95989A;
    border-radius: 4px;
}

.form__checkbox input:checked ~ .checkbox {
    background-image: url(Zasoby_do_projektu/assets/Checkmark.svg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}

.consent__text {
    color: #707070;
    font-family: var(--second-font-family);
    font-size: 12px;
}

button {
    border-radius: 35px;
    background-color: #08A6E4;
    padding-left: 97px;
    padding-right: 97px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: var(--second-font-family);
    font-size: 13px;
    font-weight: bold;
    box-shadow: 5px 10px 14px #07ACE629;
    align-self: flex-end;
    border: none;
    color: #FFFFFF;
}

.footer__container {
    width: 1352px;
    box-shadow: 0 -5px 40px #00000029;
    height: 89px;
    display: flex;
    margin-top: 59px;
    background-color: #F7F7F7;

}

.footer__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 100px;
}

.footer__logo {
    color: var(--color-primary);
    font-family: var(--first-font-family);
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 7px;
}

.footer__rights {
    font-size: 11px;
    font-family: var(--second-font-family);
    font-weight: normal;
    color: #A5A5A5;
}

.footer__icons {
    display: inline-block;
    margin-top: 35px;
    margin-left: 750px;
}

.footer__icon {
    height: 24px;
    width: 24px;
}

.footer__icon:first-of-type {
    margin-right: 20px;
}